body {
    width: 0 auto;
    background-color: lavender;
}

.cabecalho {
    margin-top: -15px;
    background-color: rgb(29, 240, 240);
    padding: 25px;
}

.cabecalho h1 {
    font-size: 40pt;
    text-decoration: none;
    text-shadow: 2px 2px 2px white;
}

nav#menu ul {
    display: flex;
    color: black;
    margin-top: -160px;
    text-transform: uppercase;
    list-style: none;
}

nav#menu li a{
    text-decoration: none;
    left: 800px;
    float: left;
    padding: 1px;
    position: relative;
    color: black;
    margin: 20px;
    margin-top: 0px;
    transition: .7s;
}

nav#menu a:hover {
    background-color: aliceblue;
}